<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/guest/css/styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
</head>
<body>
    <div class="top"></div>
    <!--Body-->
    <div class="wrapper">
        <!--Header-->
        <div class="header">
            <div class="header_left">
                <div class="logo">
                    <a href="/">
                        <img src="@Url.Content("~/Content/guest/images/banner.png")">
                    </a>
                </div>
                <div class="slogan">
                    Mạng đặt phòng khách sạn tại Việt Nam rẻ nhất, phổ biến nhất!<br>
                    Phục vụ 24/7
                </div>
            </div>
            <div class="phone">
                <p>Tổng đài dịch vụ</p>
                <p align="center"><b>08.5445 3555 </b></p>
            </div>
            <div class="clear"></div>
        </div>

        <!--Search-->
        <div class="search">
            <div class="search_left">
                <div class="search_content">
                    <div class="search_content_left">
                        @Html.Partial("LayoutTrangChu/_PartialSearch")
                    </div>
                    <!--Login-->
                    <div class="search_content_right">
                        @Html.Partial("LayoutTrangChu/_PartialLogin")
                    </div>
                </div>
            </div>
        </div>

        <!--Menu-->
        <div class="pathway">
            <div class="pathway_item">
                <a href="@Url.Action("index", "home")">Trang chủ</a>
            </div>
            <div class="pathway_item">
                <span><a href="@Url.Action("build", "home")">Chính sách về quyền riêng tư</a></span>
            </div>
            <div class="pathway_item">
                <span><a href="@Url.Action("build", "home")">Điều khoản và điều kiện</a></span>
            </div>
            <div class="pathway_item">
                <span><a href="@Url.Action("build", "home")">Liên hệ</a></span>
            </div>
            <div class="pathway_item" style="float: right; text-align: justify; padding: 0px; margin-right: 0px">
                <table style="float: right">
                    <tbody>
                        <tr>
                            <td style="text-align: right">
                                <a style="background: none; padding-right: 0; font-weight: bold" href="#">Top khách sạn rẻ nhất theo thành phố
                                </a>
                                <a style="background: none; padding-right: 0;" href="#">Top khách sạn giảm giá nhiều nhất theo thành phố
                                </a>
                                <a style="background: none; padding-right: 0; font-weight: bold" href="#">Siêu khuyến mãi - Groupon
                                </a>
                            </td>
                            <td align="right">
                                <img src="@Url.Content("~/Content/guest/images/icon_top_hotel_city.jpg")" width="25px">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clear"></div>
        <!--Content-->
        @RenderBody()
        <div class="clear"></div>

        <!--Footer-->
        <div class="footer_general">
            <div class="bottom_buts">
                <a href="#" class="thanhToan"></a>
                <a href="#" class="doiTacKhachSan"></a>
                <a href="#" class="doiTacPhanPhoi"></a>
                <a href="#" class="phucVuKhachHang"></a>
            </div>
            <div class="bottom_nav">
                <a href="@Url.Content("~/home/index")">Về Trang Chủ</a>
                @*<a href="#">Tại sao chọn KhachSan247.com?</a>*@
                <a href="@Url.Content("~/home/build")">Chính sách về quyền riêng tư</a>
                <a href="@Url.Content("~/home/build")">Điều khoản và điều kiện</a>
                <a href="@Url.Content("~/home/build")">Liên hệ</a>
            </div>
            <div class="accept_cards">
                <img src="@Url.Content("~/Content/guest/images/accept_cards.gif")">
            </div>
            <div class="footer">
                <p>Bản quyền © 2011 KhachSan247.com giữ toàn quyền.</p>
                <p>Khachsan247.com © là thương hiệu được đăng ký của tập đoàn <a href="http://www.panatlantic.com.vn" target="_blank">Pan Atlantic, Inc.</a></p>
            </div>
        </div>
    </div>
</body>
</html>
