<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi" class="js intl-vi_VN grid">
<!--<![endif]-->
<head>
    <script src="//nexus.ensighten.com/hotelscom/prod/serverComponent.php?r=508.7163734715432&amp;ClientID=314&amp;PageID=http%3A%2F%2Fvi.hotels.com%2F%3FvaluePaidUSD%3D"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7">
    <title>Hotels.com | Khách sạn giá rẻ, Khách sạn Giảm giá, Ưu đãi và Khuyến mãi Khách sạn</title>
    <link rel="canonical" href="http://vi.hotels.com/">
    <link href="@Url.Content("~/Content/guest/css/hcom-common-HCOM_VN-vi_hotels_com-vi_VN.css")" type="text/css" rel="stylesheet" media="screen,print">
    <link href="@Url.Content("~/Content/guest/css/hcom-social-homepage-HCOM_VN-vi_hotels_com-vi_VN.css")" type="text/css" rel="stylesheet" media="screen,print">
    <link rel="stylesheet" type="text/css" href="http://a2.cdn-hotels.com/da/assets/cat/css/1.15/b2by27zbh1wk8y682ixxxmtmf-awp6d8qw5komu5bf85dljvlu9-4h6jy8x9jlug9qnkh53dp4em4-5cvb7xvyj1xpfj0xngsezd70v-nkulzbvqqxafg5yle80ijzt8">
    <!--[if IE]>
<link href="http://a2.cdn-hotels.com/static/common/41.0.3/hcom-ie-HCOM_VN-vi_hotels_com-vi_VN.css" type="text/css" rel="stylesheet" media="screen,print" />
<![endif]-->
    <link href="@Url.Content("~/Content/guest/css/hcom-snapgrid-screen-min-HCOM_VN-vi_hotels_com-vi_VN.css")" type="text/css" rel="stylesheet" media="only screen and (min-width: 1259px),print">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="title" content="Hotels.com | Khách sạn giá rẻ, Khách sạn Giảm giá, Ưu đãi và Khuyến mãi Khách sạn">
    <meta name="keywords" content="khách sạn, phòng, đặt phòng, giá rẻ, khách sạn lãng mạn, khuyến mại, giảm giá, ưu đãi, phút chót">
    <meta name="description" content="Hotels.com | Tìm khách sạn giá rẻ và các chương trình giảm giá khi đặt phòng trên Hotels.com. So sánh các ưu đãi, các chương trình khuyến mãi và đọc những nhận xét khách quan về khách sạn.">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link href="/favicon_onebrand.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <script type="text/javascript"><!--//--><![CDATA[//><!--

        (function () {
            var docElm = document.documentElement;
            docElm.className = docElm.className.replace('no-js', 'js');
        })();

    //--><!]]></script>
    <!-- h_ctx=vi_VN|HCOM_VN -->
    <script type="text/javascript" src="http://survey.122.2o7.net/survey/dynamic/suites/332/hotelsallprod/list.js?138210379411"></script>
</head>

<body class="LTR no-touch">@RenderBody()
    <div role="banner" id="header-full">
        <div id="header-selector" aria-live="polite"></div>
        <div id="header-toggle" data-templates="hcom.templates.modules.header.snippet.posselector-hcom.templates.modules.header.snippet.currencyselector" data-currency="VND" data-pos="HCOM_VN" data-locale="vi_VN"><a id="header-toggle-pos" href="/global_sites.html"><span class="sprite sprite-flags sprite-flags-vnm"></span><span class="pos">Vietnamese (Vietnam)</span></a><a href="#currency-wrapper" id="header-toggle-currency">VND</a></div>
        <div id="header-bar">
            <div class="g">
                <a href="/" role="banner">
                    <img class="logo" src="http://a2.cdn-hotels.com/da/assets/s/1.15/images/module/header/logos/hotels_com_logo_vi_VN.png" width="229" height="52" alt="Quay lại trang chủ Hotels.com"></a><p><span class="msg">Đặt phòng trực tuyến hoặc gọi</span> <span class="phone phone-1 widget-tooltip widget-tooltip-delay" data-widget-tooltip-delay="400" tabindex="0">120 65 168 (Số điện thoại miễn phí ở Việt Nam)<span class="sprite sprite-info"> </span><span class="widget-tooltip-bd">Gọi cho chúng tôi - 9 giờ sáng - 6 giờ chiều, Thứ 2 - Thứ 6</span></span></p>
            </div>
        </div>
        <div role="navigation" id="menu-bar" class="cont-shadow">
            <div class="g">
                <ul class="nav">
                    <li><a href="http://vi.hotels.com/" class="clickreport" rel="clickReportc..GO0K0p-rZ05ntMR7ek-MKDuzG9gytnIzQDGLsGq7V9Yq32F9Cpdc-W7bmDO5DuYcdGJiAjbRPdFrZwcK89KHGg..">Trang chủ</a></li>
                    <li><a href="http://vi.hotels.com/deals/" class="clickreport" rel="clickReportc..GO0K0p-rZ05ntMR7ek-MKHK4cqzO9xJnfqwjOLMad27lE3eZ3SMYUB4SLVmq48e4Wy8xysKmIWk.">Ưu đãi khách sạn</a></li>
                    <li><a href="http://vi.hotels.com/customer_care/pillar/welcomerewards.html" class="clickreport" rel="nofollow">Welcome Rewards™</a></li>
                </ul>
                <ul class="nav-secondary">
                    <li class="popup-menu"><a href="http://vi.hotels.com/customer_care/index.html" aria-haspopup="true">Dịch vụ chăm sóc khách hàng</a><ul class="cont-shadow" role="menu" tabindex="-1">
                        <li><a href="http://vi.hotels.com/account/manage_bookings.html" role="menuitem" tabindex="-1">Quản lý đặt phòng của bạn</a></li>
                        <li><a href="http://vi.hotels.com/customer_care/index.html" role="menuitem" tabindex="-1">Câu hỏi thường gặp</a></li>
                        <li><a href="http://vi.hotels.com/customer_care/index.html" role="menuitem" tabindex="-1">Hãy liên hệ với chúng tôi</a></li>
                        <li><a href="http://vi.hotels.com/account/manage_bookings.html?section=COMPLETED" role="menuitem" tabindex="-1">Nhận xét về khách sạn</a></li>
                        <li><a href="mailto:userexperience@hotels.com?subject=Site feedback: N/A|vi_VN|HCOM_VN|vi.hotels.com" role="menuitem" data-opinionlab="true" tabindex="-1">Phản hồi về trang web</a></li>
                    </ul>
                    </li>
                    <li class="customer popup-menu"><a href="https://ssl-vi.hotels.com/profile/summary.html" aria-haspopup="true">Đặt phòng &amp; Tài khoản</a><ul class="cont-shadow" role="menu" tabindex="-1">
                        <li><a href="https://ssl-vi.hotels.com/profile/signin.html?target=H4sIAAAAAAAAANMHANTS03kBAAAA" tabindex="-1">Đăng nhập</a></li>
                        <li><a href="https://ssl-vi.hotels.com/account/manage_bookings.html?section=COMPLETED" tabindex="-1">Tìm đặt phòng của bạn</a></li>
                        <li><a href="https://ssl-vi.hotels.com/profile/signup.html" tabindex="-1">Tạo tài khoản</a></li>
                        <li><a href="/hotel/saved_hotels.html" tabindex="-1">Xem các khách sạn đã lưu</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>window.dio = window.dio || {}; window.dio.module = window.dio.module || {}; dio.module.header = { "conf": { "data": { "path": "//a2.cdn-hotels.com/da", "appbuild": "/2.0-567-345457" }, "template": { "path": "http://a2.cdn-hotels.com/da/assets/cat/js/1.15/" } } }; dio.common = dio.common || {}; dio.common.request = { "targetUrl": "H4sIAAAAAAAAANMHANTS03kBAAAA" };</script>
    <!-- 
Rendered the page in 508 μs.
-->
    <!--[if lt IE 7]><div id="page_container_ie6"><![endif]-->
    <div class="g" id="g">
        <div class="c24 f">
            <div class="page_header">
                <a href="#main_content" class="skiplink">Đi đến nội dung chính.</a>
            </div>
        </div>
        <div id="main_content" role="main" class="skiplink">Bắt đầu nội dung chính. Đọc từ đây hoặc nhấn tab để truy cập vào liên kết tiếp theo</div>
        <div class="container container-homepage c12 f">
            <div class="container-with-hotel-image-bg container-with-hotel-image-bg-homepage joined c12 f s fc cont-shadow">
                <div class="query-form query-form-homepage c4 f fc lc">
                    <div class="cont qf-cont qf-cont-overlay arrow-bottom">
                        <form action="/search.do" method="get" id="searchForm" class="dropdown" autocomplete="off">
                            <fieldset class="qf-fieldset qf-destination-fieldset">
                                <h1 class="qf-header">Tìm khách sạn</h1>
                                <div class="qf-destination qf-error-cont">
                                    <span class="form-error form-error-message"></span>
                                    <div class="decorator-box">
                                        <input type="text" autocorrect="off" autocomplete="off" name="destination" id="destination">
                                    </div>
                                    <label for="destination">Điểm đến, khách sạn, địa danh hoặc địa chỉ</label>
                                </div>
                            </fieldset>
                            <fieldset class="qf-fieldset qf-date-fieldset arrow-bottom-right dates">
                                <span class="form-error form-error-message"></span>
                                <div class="qf-date qf-arrival qf-error-cont">
                                    <label for="arrival_date" class="qf-arrival-label">Nhận phòng</label><input type="text" autocorrect="off" autocomplete="off" name="arrivalDate" class="hcomDate hcomCheckin hasDatepicker" id="arrival_date" value="28/12/2013" placeholder="dd/mm/yyyy"><span class="qf-date-input-icon hcomDatePicker"></span><span class="qf-day qf-arrival-day date-input-day">Thứ bảy</span>
                                </div>
                                <div class="qf-date qf-departure qf-error-cont">
                                    <label for="departure_date" class="qf-departure-label">Trả phòng</label><input type="text" autocorrect="off" autocomplete="off" name="departureDate" class="hcomDate hcomCheckout hasDatepicker" id="departure_date" value="30/12/2013" placeholder="dd/mm/yyyy"><span class="qf-date-input-icon hcomDatePicker"></span><span class="qf-day qf-departure-day date-input-day">Thứ hai</span>
                                </div>
                                <div class="qf-nights"><span class="qf-nights-number nights-value">2</span><span class="qf-nights-label nights-label">Đêm</span></div>
                            </fieldset>
                            <fieldset class="qf-fieldset qf-compact-occupancy-dropdown-fieldset">
                                <div class="qf-co-box">
                                    <div class="qf-rooms">
                                        <p class="qf-compact-occupancy-label">Phòng</p>
                                        <select id="compact_occupancy_dropdown" name="searchParams.rooms.compact_occupancy_dropdown">
                                            <option value="compact_occupancy_1_1" data-room="1" data-adult="1">1 phòng, 1 người lớn</option>
                                            <option value="compact_occupancy_1_2" data-room="1" data-adult="2" selected="selected">1 phòng, 2 người lớn</option>
                                            <option value="compact_occupancy_more_options">Lựa chọn khác</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="qf-fieldset qf-occupancy-fieldset qf-room-fieldset js_hidden">
                                <div class="qf-rooms">
                                    <label for="rooms">Phòng</label><select id="rooms" name="rooms"><option value="1" selected="&quot;selected&quot;">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9+</option>
                                    </select><span class="qf-room-number hidden">Phòng <span>1</span>:</span>
                                </div>
                                <div class="qf-adults-children">
                                    <div class="qf-children">
                                        <label for="children_0">Trẻ em</label><select id="children_0" name="children[0]"><option value="0" selected="selected">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select><div>0-17</div>
                                    </div>
                                    <div class="qf-adults">
                                        <label for="adults_0">Người lớn</label><select id="adults_0" name="searchParams.rooms[0].numberOfAdults"><option value="1">1</option>
                                            <option value="2" selected="selected">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select><div>Tuổi 18+</div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="qf-fieldset qf-occupancy-fieldset qf-children-fieldset hidden js_hidden">
                                <div class="qf-child-age-header">Tuổi vào lúc nhận phòng:</div>
                                <span class="form-error form-error-message"></span>
                                <div class="qf-child-age hidden">
                                    <label for="children_0_0">Trẻ em <span>1</span>:</label><select id="children_0_0" name="searchParams.rooms[0].childrenAges[0]" disabled="disabled"><option value="-1">-?-</option>
                                        <option value="0">&lt;1</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                    </select>
                                </div>
                                <div class="qf-child-age hidden">
                                    <label for="children_0_1">Trẻ em <span>2</span>:</label><select id="children_0_1" name="searchParams.rooms[0].childrenAges[1]" disabled="disabled"><option value="-1">-?-</option>
                                        <option value="0">&lt;1</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                    </select>
                                </div>
                                <div class="qf-child-age hidden">
                                    <label for="children_0_2">Trẻ em <span>3</span>:</label><select id="children_0_2" name="searchParams.rooms[0].childrenAges[2]" disabled="disabled"><option value="-1">-?-</option>
                                        <option value="0">&lt;1</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="qf-fieldset qf-submit-fieldset">
                                <button type="submit" class="cta cta-strong" id="qf-submit">Tìm kiếm</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="main-image-carousel js_hidden webkit-radius-fix" data-image="/external/images/hermesContent-6b9e03e3-9cb4-4f72-8dc4-913e2981e8c2-v1.0.jpg" style="display: block;">
                    <noscript>&lt;img src="/external/images/hermesContent-6b9e03e3-9cb4-4f72-8dc4-913e2981e8c2-v1.0.jpg" class="carousel-image" /&gt;</noscript>
                    <a class="carousel-text" href="/hotel/details.html?tab=description&amp;hotelId=323139&amp;validate=false&amp;previousDateful=false&amp;reviewOrder=date_newest_first">Andara Resort Villas<br>
                        Kathu</a><span class="gradient-layout"></span><img class="carousel-image" src="/external/images/hermesContent-6b9e03e3-9cb4-4f72-8dc4-913e2981e8c2-v1.0.jpg">
                </div>
            </div>
            <div class="welcome-rewards welcome-rewards-homepage joined c12 f s  cont-shadow">
                <div class="punch-card c4">
                    <div class="free-nights-box">
                        <div class="night-icons">
                            <ul>
                                <li><span class="wr-sprite night-icon">1</span></li>
                                <li><span class="wr-sprite night-icon">2</span></li>
                                <li><span class="wr-sprite night-icon">3</span></li>
                                <li><span class="wr-sprite night-icon">4</span></li>
                                <li><span class="wr-sprite night-icon">5</span></li>
                                <li><span class="wr-sprite night-icon">6</span></li>
                                <li><span class="wr-sprite night-icon">7</span></li>
                                <li><span class="wr-sprite night-icon">8</span></li>
                                <li><span class="wr-sprite night-icon">9</span></li>
                                <li><span class="wr-sprite night-icon">10</span></li>
                            </ul>
                        </div>
                        <div class="wr-sprite separator"></div>
                        <div class="night-summary">
                            <p class="wr-sprite number"><span class="wr-sprite moon"></span></p>
                        </div>
                    </div>
                </div>
                <div class="message-box">
                    <p class="offer">Tích lũy 10 đêm, nhận 1 đêm miễn phí*</p>
                    <p class="loyalty"><span class="wr-sprite reward"></span><span class="reward-level">Chương trình khách hàng thân thiết</span></p>
                </div>
                <div class="button-box"><a class="wr-button" href="customer_care/pillar/welcomerewards.html">Tìm hiểu thêm</a></div>
            </div>
            <div class="container container-homepage simple c12 f s  cont-shadow">
                <div class="teaser teaser-homepage c4 f fc">
                    <a href="http://vi.hotels.com/uu-dai-khach-san-phut-chot/?intlid=vn_hero_evergreen_lmd">
                        <img src="/external/images/hermesContent-6c47d96d-6b8e-4c13-8d3c-bf8078bd59d4-v1.0.jpg" alt="Ưu đãi Phút chót"></a>
                </div>
                <div class="teaser teaser-homepage c4">
                    <a href="http://vi.hotels.com/deals/vn-deal-of-the-day/?intlid=vn_hero_dotd">
                        <img src="/external/images/hermesContent-58fb9db1-4924-47fd-af3a-29d319e4e070-v1.0.jpg" alt="Ưu đãi trong ngày"></a>
                </div>
                <div class="teaser teaser-homepage c4 l">
                    <a href="http://vi.hotels.com/deals/?intlid=vn_hero_evergreen_dealshub">
                        <img src="/external/images/hermesContent-e9d41bc7-92ed-4a53-9695-cbe0e1a57aaf-v1.0.jpg" alt="Deals Finder"></a>
                </div>
                <div class="top-destinations top-destinations-homepage c12 f lc">
                    <h2 class="top-destination-title">Những thành phố hàng đầu</h2>
                    <div class="top-destination c6 f">
                        <div class="top-destination-header clearfix">
                            <h3>Thành phố Hồ Chí Minh</h3>
                            <span>12.476 người đang tìm khách sạn hôm nay</span><a href="http://vi.hotels.com/de1633619/khach-san-thanh-pho-ho-chi-minh-viet-nam/">Khách sạn khác tại Thành phố Hồ Chí Minh</a>
                        </div>
                        <a class="hcom-img" href="http://vi.hotels.com/de1633619/khach-san-thanh-pho-ho-chi-minh-viet-nam/">
                            <img alt="Thành phố Hồ Chí Minh" src="/external/images/hermesContent-4c89fd9d-af04-45ba-84d6-8b3c54171f53-v1.0.jpg" width="90" height="66"></a><ul>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">1.869.332 ₫</ins></span><a href="http://vi.hotels.com/ho224717/windsor-plaza-hotel-thanh-pho-ho-chi-minh-viet-nam/" title="Windsor Plaza Hotel">Windsor Plaza Hotel</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">1.088.088 ₫</ins></span><a href="http://vi.hotels.com/ho189859/palace-hotel-saigon-thanh-pho-ho-chi-minh-viet-nam/" title="Palace Hotel Saigon">Palace Hotel Saigon</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">2.717.601 ₫</ins></span><a href="http://vi.hotels.com/ho189902/hotel-majestic-saigon-thanh-pho-ho-chi-minh-viet-nam/" title="Hotel Majestic Saigon">Hotel Majestic Saigon</a></li>
                            </ul>
                    </div>
                    <div class="top-destination c6 l">
                        <div class="top-destination-header clearfix">
                            <h3>Luân Đôn</h3>
                            <span>128.597 người đang tìm khách sạn hôm nay</span><a href="http://vi.hotels.com/de549499/khach-san-luan-on-vuong-quoc-anh/">Khách sạn khác tại Luân Đôn</a>
                        </div>
                        <a class="hcom-img" href="http://vi.hotels.com/de549499/khach-san-luan-on-vuong-quoc-anh/">
                            <img alt="Luân Đôn" src="/external/images/hermesContent-ede70614-343f-4d72-a223-7421c550244f-v1.0.jpg" width="90" height="66"></a><ul>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">2.547.109 ₫</ins></span><a href="http://vi.hotels.com/ho211540/grand-plaza-serviced-apartments-luan-on-vuong-quoc-anh/" title="Grand Plaza Serviced Apartments">Grand Plaza Serviced Apartments</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">1.267.166 ₫</ins></span><a href="http://vi.hotels.com/ho160517/pembridge-palace-hotel-luan-on-vuong-quoc-anh/" title="Pembridge Palace Hotel">Pembridge Palace Hotel</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">5.111.184 ₫</ins></span><a href="http://vi.hotels.com/ho114186/the-rembrandt-luan-on-vuong-quoc-anh/" title="The Rembrandt">The Rembrandt</a></li>
                            </ul>
                    </div>
                    <div class="top-destination c6 f">
                        <div class="top-destination-header clearfix">
                            <h3>Bangkok</h3>
                            <span>51.228 người đang tìm khách sạn hôm nay</span><a href="http://vi.hotels.com/de1313946/khach-san-bangkok-thai-lan/">Khách sạn khác tại Bangkok</a>
                        </div>
                        <a class="hcom-img" href="http://vi.hotels.com/de1313946/khach-san-bangkok-thai-lan/">
                            <img alt="Bangkok" src="/external/images/hermesContent-ba8e2905-759a-403e-8efa-9465ae28a38f-v1.0.jpg" width="90" height="66"></a><ul>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 71px;">2.699.379 ₫</ins></span><a href="http://vi.hotels.com/ho220544/lebua-at-state-tower-bangkok-thai-lan/" title="lebua at State Tower">lebua at State Tower</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 71px;">13.287.445 ₫</ins></span><a href="http://vi.hotels.com/ho141136/the-peninsula-bangkok-bangkok-thai-lan/" title="The Peninsula Bangkok">The Peninsula Bangkok</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 71px;">2.540.197 ₫</ins></span><a href="http://vi.hotels.com/ho145450/the-landmark-bangkok-bangkok-thai-lan/" title="The Landmark Bangkok">The Landmark Bangkok</a></li>
                            </ul>
                    </div>
                    <div class="top-destination c6 l">
                        <div class="top-destination-header clearfix">
                            <h3>Phuket</h3>
                            <span>18.868 người đang tìm khách sạn hôm nay</span><a href="http://vi.hotels.com/de1308721/khach-san-phuket-thai-lan/">Khách sạn khác tại Phuket</a>
                        </div>
                        <a class="hcom-img" href="http://vi.hotels.com/de1308721/khach-san-phuket-thai-lan/">
                            <img alt="Phuket" src="/external/images/hermesContent-108ea86b-6207-4a35-9a05-2f30ca2a17de-v1.0.jpg" width="90" height="66"></a><ul>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">6.956.849 ₫</ins></span><a href="http://vi.hotels.com/ho274083/ayara-hilltops-boutique-resort-spa-thalang-thai-lan/" title="Ayara Hilltops Boutique Resort &amp; Spa">Ayara Hilltops Boutique Resort &amp; Spa</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">7.277.096 ₫</ins></span><a href="http://vi.hotels.com/ho188071/hilton-phuket-arcadia-resort-spa-phuket-thai-lan/" title="Hilton Phuket Arcadia Resort &amp; Spa">Hilton Phuket Arcadia Resort &amp; Spa</a></li>
                                <li><span class="inc-price">Từ <ins class="lowrate" style="width: 64px;">4.499.802 ₫</ins></span><a href="http://vi.hotels.com/ho256180/alpina-phuket-nalina-resort-spa-phuket-thai-lan/" title="Alpina Phuket Nalina Resort &amp; Spa">Alpina Phuket Nalina Resort &amp; Spa</a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="container container-homepage footer-bar c12 f lc">
                <div class="trust-message trust-message-homepage c4 f fc">
                    <div class="trust clearfix">
                        <span class="logo"></span><span class="text">
                            <p><strong>240.000 khách sạn</strong></p>
                            <p>Chúng tôi hỗ trợ bạn tìm khách sạn phù hợp nhất từ 240.000 khách sạn toàn cầu</p>
                        </span>
                    </div>
                </div>
                <div class="download-our-apps download-our-apps-homepage c4">
                    <div class="apps"><span class="text">Hãy tải ứng dụng của chúng tôi:</span><span class="logo"><a href="https://itunes.apple.com/app/hotels.com-hd-hotel-reservation/id461327349" target="_blank" class="ios"><span class="text-popup">Tải ứng dụng iPhone/iPad của chúng tôi<span class="slant-arrow"></span></span></a><a href="https://market.android.com/details?id=com.hcom.android" target="_blank" class="android"><span class="text-popup">Tải ứng dụng Android của chúng tôi<span class="slant-arrow"></span></span></a><a href="http://www.windowsphone.com/en-GB/search?q=hotels.com" target="_blank" class="windowsphone"><span class="text-popup">Tải ứng dụng Windows Phone của chúng tôi<span class="slant-arrow"></span></span></a></span></div>
                </div>
                <div class="connect-with-us connect-with-us-homepage c4 l">
                    <div class="social"><span class="text">Liên kết với chúng tôi:</span><span class="logo"><a href="http://www.facebook.com/Hotels.comASIA" target="_blank" class="facebook"><span class="text-popup">Tìm chúng tôi trên Facebook<span class="slant-arrow"></span></span></a></span></div>
                </div>
                <div class="marketing-copy marketing-copy-homepage c12 f lc">
                    <p></p>
                    <p><strong>Hotels.com</strong>&nbsp;mang đến cho bạn sự lựa chọn từ hơn 240.000&nbsp;<strong>khách sạn</strong>&nbsp;tại hơn 60 quốc gia trên thế giới. Những&nbsp;<strong>bài đánh giá khách sạn</strong>&nbsp;của chúng tôi sẽ giúp bạn tìm được&nbsp;<strong>ưu đãi tốt nhất</strong>&nbsp;tại địa điểm phù hợp nhất. Dù bạn&nbsp;<strong>đi du lịch vào phút chót</strong>, đi cùng gia đình hay&nbsp;<strong>cần khách sạn cho chuyến công tác</strong>, chúng tôi đều có&nbsp;<strong>khách sạn với giá phù hợp</strong>&nbsp;cho bạn. Chúng tôi cũng có đường dây điện thoại liên lạc 24 giờ nếu bạn cần liên hệ trực tiếp. Tìm, so sánh và đặt phòng&nbsp;<strong>tại những khách sạn tuyệt vời</strong>&nbsp;với mức giá ưu đãi cực tốt; tất cả đều có tại&nbsp;<strong>Hotels.com</strong></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
        <div class="c24 f footer-container clearfix">
            <div class="flexible_seo_footer seo_footer clearfix">
                <ul class="footer_links_container clearfix">
                    <li class="top_destinations_container">
                        <h3 class="toggle_top_destinations">
                            <a href="#">
                                <span class="icon_sprite_commons js_visible">
                                    <span class="right_arrow">
                                        <!-- IE6 -->
                                    </span>
                                </span>
                                Điểm đến hàng đầu</a>
                        </h3>
                        <div class="top_destinations clearfix">
                            <div class="link_list">
                                <ul>
                                    <li>
                                        <a id="top_destination_1153093" href="http://vi.hotels.com/de1153093/khach-san-mat-xco-va-lien-bang-nga/" title="Khách sạn tại Mát-xcơ-va"><strong>Khách sạn tại Mát-xcơ-va</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1439028" href="http://vi.hotels.com/de1439028/khach-san-los-angeles-bang-california/" title="Khách sạn tại Los Angeles"><strong>Khách sạn tại Los Angeles</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_169712" href="http://vi.hotels.com/de169712/khach-san-vancouver-cana-a/" title="Khách sạn tại Vancouver"><strong>Khách sạn tại Vancouver</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1567425" href="http://vi.hotels.com/de1567425/khach-san-a-lat-viet-nam/" title="Khách sạn tại Đà Lạt"><strong>Khách sạn tại Đà Lạt</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1567225" href="http://vi.hotels.com/de1567225/khach-san-a-nang-viet-nam/" title="Khách sạn tại Đà Nẵng"><strong>Khách sạn tại Đà Nẵng</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1640036" href="http://vi.hotels.com/de1640036/khach-san-vinh-ha-long-viet-nam/" title="Khách sạn tại Vịnh Hạ Long"><strong>Khách sạn tại Vịnh Hạ Long</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1634382" href="http://vi.hotels.com/de1634382/khach-san-thu-o-ha-noi-viet-nam/" title="Khách sạn tại Thủ đô Hà Nội"><strong>Khách sạn tại Thủ đô Hà Nội</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1633619" href="http://vi.hotels.com/de1633619/khach-san-thanh-pho-ho-chi-minh-viet-nam/" title="Khách sạn tại Thành phố Hồ Chí Minh"><strong>Khách sạn tại Thành phố Hồ Chí Minh</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1634653" href="http://vi.hotels.com/de1634653/khach-san-pho-co-hoi-an-viet-nam/" title="Khách sạn tại Phố Cổ Hội An"><strong>Khách sạn tại Phố Cổ Hội An</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1582675" href="http://vi.hotels.com/de1582675/khach-san-hue-viet-nam/" title="Khách sạn tại Huế"><strong>Khách sạn tại Huế</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1578954" href="http://vi.hotels.com/de1578954/khach-san-nha-trang-viet-nam/" title="Khách sạn tại Nha Trang"><strong>Khách sạn tại Nha Trang</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1581241" href="http://vi.hotels.com/de1581241/khach-san-phan-thiet-viet-nam/" title="Khách sạn tại Phan Thiết"><strong>Khách sạn tại Phan Thiết</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_606379" href="http://vi.hotels.com/de606379/khach-san-hong-kong-hong-kong/" title="Khách sạn tại Hồng Kông"><strong>Khách sạn tại Hồng Kông</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_1655844" href="http://vi.hotels.com/de1655844/khach-san-singapore-singapore/" title="Khách sạn tại Singapore"><strong>Khách sạn tại Singapore</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_220308" href="http://vi.hotels.com/de220308/khach-san-thuong-hai-trung-quoc/" title="Khách sạn tại Thượng Hải"><strong>Khách sạn tại Thượng Hải</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_243351" href="http://vi.hotels.com/de243351/khach-san-bac-kinh-trung-quoc/" title="Khách sạn tại Bắc Kinh"><strong>Khách sạn tại Bắc Kinh</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_229835" href="http://vi.hotels.com/de229835/khach-san-thanh-pho-que-lam-trung-quoc/" title="Khách sạn tại Thành phố Quế Lâm"><strong>Khách sạn tại Thành phố Quế Lâm</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_189799" href="http://vi.hotels.com/de189799/khach-san-quang-chau-trung-quoc/" title="Khách sạn tại Quảng Châu"><strong>Khách sạn tại Quảng Châu</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_184035" href="http://vi.hotels.com/de184035/khach-san-tham-quyen-trung-quoc/" title="Khách sạn tại Thâm Quyến"><strong>Khách sạn tại Thâm Quyến</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_228769" href="http://vi.hotels.com/de228769/khach-san-thanh-pho-to-chau-trung-quoc/" title="Khách sạn tại Thành phố Tô Châu"><strong>Khách sạn tại Thành phố Tô Châu</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_204524" href="http://vi.hotels.com/de204524/khach-san-thanh-pho-le-giang-trung-quoc/" title="Khách sạn tại Thành phố Lệ Giang"><strong>Khách sạn tại Thành phố Lệ Giang</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_183391" href="http://vi.hotels.com/de183391/khach-san-thanh-pho-tay-an-trung-quoc/" title="Khách sạn tại Thành phố Tây An"><strong>Khách sạn tại Thành phố Tây An</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_908873" href="http://vi.hotels.com/de908873/khach-san-kuala-lumpur-malaysia/" title="Khách sạn tại Kuala Lumpur"><strong>Khách sạn tại Kuala Lumpur</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_destination_26633" href="http://vi.hotels.com/de26633/khach-san-sydney-uc/" title="Khách sạn tại Sydney"><strong>Khách sạn tại Sydney</strong></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="top_countries_container">
                        <h3 class="toggle_top_countries">
                            <a href="#">
                                <span class="icon_sprite_commons js_visible">
                                    <span class="right_arrow">
                                        <!-- IE6 -->
                                    </span>
                                </span>
                                Quốc gia hàng đầu</a>
                        </h3>
                        <div class="top_countries clearfix">
                            <div class="link_list">
                                <ul>
                                    <li>
                                        <a id="top_country_232" href="http://vi.hotels.com/co232/khach-san-tai-viet-nam/" title="Khách sạn ở Việt Nam"><strong>Khách sạn ở Việt Nam</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_97" href="http://vi.hotels.com/co97/khach-san-tai-hong-kong/" title="Khách sạn ở Hồng Kông"><strong>Khách sạn ở Hồng Kông</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_190" href="http://vi.hotels.com/co190/khach-san-tai-singapore/" title="Khách sạn ở Singapore"><strong>Khách sạn ở Singapore</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_44" href="http://vi.hotels.com/co44/khach-san-tai-trung-quoc/" title="Khách sạn ở Trung Quốc"><strong>Khách sạn ở Trung Quốc</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_130" href="http://vi.hotels.com/co130/khach-san-tai-malaysia/" title="Khách sạn ở Malaysia"><strong>Khách sạn ở Malaysia</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_13" href="http://vi.hotels.com/co13/khach-san-tai-uc/" title="Khách sạn ở Úc"><strong>Khách sạn ở Úc</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_223" href="http://vi.hotels.com/co223/khach-san-tai-cac-tieu-vuong-quoc-a-rap-thong-nhat/" title="Khách sạn ở Các Tiểu Vương Quốc Ả Rập Thống Nhất"><strong>Khách sạn ở Các Tiểu Vương Quốc Ả Rập Thống Nhất</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_208" href="http://vi.hotels.com/co208/khach-san-tai-ai-loan/" title="Khách sạn ở Đài Loan"><strong>Khách sạn ở Đài Loan</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_114" href="http://vi.hotels.com/co114/khach-san-tai-han-quoc/" title="Khách sạn ở Hàn Quốc"><strong>Khách sạn ở Hàn Quốc</strong></a>
                                    </li>
                                    <li>
                                        <a id="top_country_211" href="http://vi.hotels.com/co211/khach-san-tai-thai-lan/" title="Khách sạn ở Thái Lan"><strong>Khách sạn ở Thái Lan</strong></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="change_language_container">
                        <h3 class="toggle_change_language">
                            <a href="#">
                                <span class="icon_sprite_commons js_visible">
                                    <span class="right_arrow">
                                        <!-- IE6 -->
                                    </span>
                                </span>
                                Thay đổi ngôn ngữ</a>
                        </h3>
                        <div id="change_language" class="change_language clearfix">
                            <div class="link_list">
                                <ul>
                                    <li><a href="http://el.hotels.com" title="Ελληνικά" lang="el" hreflang="el">Ελληνικά</a></li>
                                    <li><a href="http://it.hotels.com" title="Italiano" lang="it" hreflang="it">Italiano</a></li>
                                    <li><a href="http://fr.hotels.com" title="Français" lang="fr" hreflang="fr">Français</a></li>
                                    <li><a href="http://kr.hotels.com" title="한국어" lang="ko" hreflang="ko">한국어</a></li>
                                    <li><a href="http://de.hotels.com" title="Deutsch" lang="de" hreflang="de">Deutsch</a></li>
                                    <li><a href="http://ru.hotels.com" title="Русский" lang="ru" hreflang="ru">Русский</a></li>
                                    <li><a href="http://id.hotels.com" title="Bahasa indonesia" lang="in" hreflang="in">Bahasa indonesia</a></li>
                                    <li><a href="http://lv.hotels.com" title="Latviešu" lang="lv" hreflang="lv">Latviešu</a></li>
                                    <li><a href="http://is.hotels.com" title="Íslensku" lang="is" hreflang="is">Íslensku</a></li>
                                    <li><a href="http://tr.hotels.com" title="Türkçe" lang="tr" hreflang="tr">Türkçe</a></li>
                                    <li><a href="http://pl.hotels.com" title="Polski" lang="pl" hreflang="pl">Polski</a></li>
                                    <li><a href="http://www.hotels.com/?pos=HCOM_ASIA&amp;locale=en_VN" title="English" lang="en" hreflang="en">English</a></li>
                                    <li><a href="http://www.hoteles.com/?pos=HCOM_LATAM&amp;locale=es_MX" title="Español" lang="es-MX" hreflang="es-MX">Español</a></li>
                                    <li><a href="http://he.hotels.com" title="עברית" lang="he" hreflang="he">עברית</a></li>
                                    <li><a href="http://www.hoteis.com/?pos=HCOM_BR&amp;locale=pt_BR" title="Português" lang="pt-BR" hreflang="pt-BR">Português</a></li>
                                    <li><a href="http://da.hotels.com" title="Dansk" lang="da" hreflang="da">Dansk</a></li>
                                    <li><a href="http://ar.hotels.com" title="العربية" lang="ar" hreflang="ar">العربية</a></li>
                                    <li><a href="http://ua.hotels.com" title="Українська" lang="uk" hreflang="uk">Українська</a></li>
                                    <li><a href="http://sv.hotels.com" title="Svenska" lang="sv" hreflang="sv">Svenska</a></li>
                                    <li><a href="http://cs.hotels.com" title="Česky" lang="cs" hreflang="cs">Česky</a></li>
                                    <li><a href="http://sk.hotels.com" title="Slovenčina" lang="sk" hreflang="sk">Slovenčina</a></li>
                                    <li><a href="http://hu.hotels.com" title="Magyar" lang="hu" hreflang="hu">Magyar</a></li>
                                    <li><a href="http://www.hotels.cn" title="简体中文" lang="zh-CN" hreflang="zh-CN">简体中文</a></li>
                                    <li><a href="http://fi.hotels.com" title="Suomi" lang="fi" hreflang="fi">Suomi</a></li>
                                    <li><a href="http://lt.hotels.com" title="Lietuvių" lang="lt" hreflang="lt">Lietuvių</a></li>
                                    <li><a href="http://et.hotels.com" title="Eesti" lang="et" hreflang="et">Eesti</a></li>
                                    <li><a href="http://jp.hotels.com" title="日本語" lang="ja" hreflang="ja">日本語</a></li>
                                    <li><a href="http://ms.hotels.com" title="Bahasa melayu" lang="ms" hreflang="ms">Bahasa melayu</a></li>
                                    <li><a href="http://hr.hotels.com" title="Hrvatski" lang="hr" hreflang="hr">Hrvatski</a></li>
                                    <li><a href="http://nl.hotels.com" title="Nederlands" lang="nl" hreflang="nl">Nederlands</a></li>
                                    <li><a href="http://no.hotels.com" title="Norsk" lang="no" hreflang="no">Norsk</a></li>
                                    <li><a href="http://vi.hotels.com" title="Tiếng việt" lang="vi" hreflang="vi">Tiếng việt</a></li>
                                    <li><a href="http://th.hotels.com" title="ภาษาไทย" lang="th" hreflang="th">ภาษาไทย</a></li>
                                    <li class="hidden"><a href="http://uk.hotels.com" title="English" lang="en-GB" hreflang="en-GB">English</a></li>
                                    <li class="hidden"><a href="http://au.hotels.com" title="English" lang="en-AU" hreflang="en-AU">English</a></li>
                                    <li class="hidden"><a href="http://ca.hotels.com" title="English" lang="en-CA" hreflang="en-CA">English</a></li>
                                    <li class="hidden"><a href="http://ie.hotels.com" title="English" lang="en-IE" hreflang="en-IE">English</a></li>
                                    <li class="hidden"><a href="http://es.hotels.com" title="Español" lang="es-US" hreflang="es-US">Español</a></li>
                                    <li class="hidden"><a href="http://www.hotels.com/?pos=HCOM_US&amp;locale=en_US" title="English" lang="en-US" hreflang="en-US">English</a></li>
                                    <li class="hidden"><a href="http://sg.hotels.com" title="English" lang="en-SG" hreflang="en-SG">English</a></li>
                                    <li class="hidden"><a href="http://nz.hotels.com" title="English" lang="en-NZ" hreflang="en-NZ">English</a></li>
                                    <li class="hidden"><a href="http://pt.hoteis.com" title="Português" lang="pt-PT" hreflang="pt-PT">Português</a></li>
                                    <li class="hidden"><a href="http://zh.hotels.com" title="繁體中文" lang="zh" hreflang="zh">繁體中文</a></li>
                                    <li class="hidden"><a href="http://es.hoteles.com" title="Español" lang="es-ES" hreflang="es-ES">Español</a></li>
                                    <li class="hidden"><a href="http://za.hotels.com" title="English" lang="en-ZA" hreflang="en-ZA">English</a></li>
                                    <li class="hidden"><a href="http://in.hotels.com" title="English" lang="en-IN" hreflang="en-IN">English</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="c24" id="flexible_footer">
            <div id="footer">
                <div class="rounded_corners">
                    <div class="rounded_corner_left">
                        <div>&nbsp;</div>
                        <div class="b">&nbsp;</div>
                        <div class="c">&nbsp;</div>
                    </div>
                    <div class="rounded_corner_right">
                        <div>&nbsp;</div>
                        <div class="b">&nbsp;</div>
                        <div class="c">&nbsp;</div>
                    </div>
                </div>
                <div class="footer_logos_pmi footer_pmi">
                    <div class="col_3_adbanner banner_fix">
                        <div class="footer_banner_content">
                            <iframe id="bannerAdCCOL1" style="display: block; margin: 0pt auto;" name="bannerAdCCOL1" width="300" height="250" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" src="http://media.hotels.com/html.cms/TPID=100002&amp;LOCATION=HOME&amp;SUBLOCATION=SEARCH&amp;PLACEMENT=CCOL1&amp;AFFILIATE=H-EMEA.VN&amp;LANGID=1066&amp;ADSIZE=300x250"></iframe>
                        </div>
                    </div>
                    <div class="footer_security_certificate_logo">
                        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Bấm để Xác minh - Trang web này sử dụng VeriSign SSL để bảo vệ các giao dịch thương mại điện tử và thông tin mật.">
                            <tbody>
                                <tr>
                                    <td width="135" align="right" valign="top">
                                        <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=vi.hotels.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script>
                                        <a href="javascript:vrsn_splash()" tabindex="-1">
                                            <img name="seal" border="true" src="https://seal.verisign.com/getseal?at=0&amp;sealid=2&amp;dn=vi.hotels.com&amp;lang=en" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security"></a>
                                        <br>
                                        <a href="http://www.verisign.com/ssl-certificate/" target="_blank" style="color: #000000; text-decoration: none; font: bold 7px verdana,sans-serif; letter-spacing: .5px; text-align: center; margin: 0px; padding: 0px;">ABOUT SSL CERTIFICATES</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer_webuser_logo" title="2009 Webuser Gold Award">
                        <!-- IE6 -->
                    </div>
                    <div class="footer_hitwise_logo" title="Top 10 Website - Hitwise 2011">
                        <!-- IE6 -->
                    </div>
                    <div class="footer_tuv_logo" title="footer.tuv_logo_title"></div>
                </div>
                <div class="content clearfix">
                    <div id="footer_links_1" class="top_50_cities">
                        <ul>
                            <li>
                                <a href="/alltop50cities/" title="50 thành phố hàng đầu">50 thành phố hàng đầu</a>
                            </li>
                            <li>
                                <a href="/allcountries/" title="Mọi quốc gia">Mọi quốc gia</a>
                            </li>
                            <li>
                                <a href="/hi1/chi-muc-khach-san/" title="Tất cả khách sạn">Tất cả khách sạn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hr">
                        <!-- IE6 -->
                    </div>
                    <div role="contentinfo" class="footer-container">
                        <ul id="basic_footer_links">
                            <li id="basic_footer_link_home">
                                <a href="/" title="Khách sạn">Khách sạn</a>
                            </li>
                            <li id="basic_footer_link_aboutus">
                                <a href="/customer_care/about_us.html" title="Thông tin về chúng tôi" rel="nofollow">Thông tin về chúng tôi</a>
                            </li>
                            <li id="basic_footer_link_emailus">
                                <a href="/customer_care/index.html" title="Liên hệ với chúng tôi" rel="nofollow">Liên hệ với chúng tôi</a>
                            </li>
                            <li id="basic_footer_link_jobs">
                                <a href="http://jobs.hotels.com/" title="Việc làm" rel="nofollow">Việc làm</a>
                            </li>
                            <li id="basic_footer_link_faq">
                                <a href="/customer_care/faq.html" title="Câu hỏi thường gặp" rel="nofollow">Câu hỏi thường gặp</a>
                            </li>
                            <li id="basic_footer_link_privacy">
                                <a href="/customer_care/privacy.html" title="Bảo mật" rel="nofollow" class="hcomPopup" target="_blank">Bảo mật</a>
                            </li>
                            <li id="basic_footer_link_cookie_policy">
                                <a href="/customer_care/cookie_policy.html" title="Chính sách cookie" rel="nofollow" class="hcomPopup" target="_blank">Chính sách cookie</a>
                            </li>
                            <li id="basic_footer_link_feedback">
                                <a id="toplinks_mailto_or_oo" href="mailto:userexperience@hotels.com?subject=Site feedback: home page|vi_VN|HCOM_VN|vi.hotels.com " rel="nofollow" title="Thích hay không thích trang web này? Hãy cho chúng tôi biết ý kiến của bạn." showoo="true">Phản hồi về trang web</a></li>
                            <li id="basic_footer_link_siteindex">
                                <a href="/site-index/" title="Chỉ mục trang web">Chỉ mục trang web</a>
                            </li>
                            <li id="basic_footer_link_terms" class="basic_footer_link_terms  footer_last_li">
                                <a href="/customer_care/terms_conditions.html" title="Điều khoản &amp; Điều kiện" rel="nofollow" class="hcomPopup" target="_blank">Điều khoản &amp; Điều kiện</a>
                            </li>
                        </ul>
                        <h3 id="for_suppliers">Dành cho nhà cung cấp, chi nhánh và giới truyền thông</h3>
                        <ul>
                            <li>
    <script type="text/javascript"><!--//--><![CDATA[//><!--

        function url(link) {
            link.href = link.hash.substr(1);
        }

    </script>



                                <a href="https://joinexpedia.com/default.asp?lang=vi" class="js_link" rel="nofollow" title="Hotels.com - Deals &amp; Discounts for Hotel Reservations from Luxury Hotels to Budget Accommodations">Thêm khách sạn</a>
                            </li>
                            <li>
                                <a href="/uu-dai/travel-affiliate-program/" class="js_link" target="_blank" rel="nofollow" title="Hotels.com - Deals &amp; Discounts for Hotel Reservations from Luxury Hotels to Budget Accommodations">Liên kết với chúng tôi</a>
                            </li>
                            <li>
                                <a href="http://www.advertising.expedia.com" class="js_link" rel="nofollow" title="Hotels.com - Deals &amp; Discounts for Hotel Reservations from Luxury Hotels to Budget Accommodations">Quảng bá với chúng tôi</a>
                            </li>
                            <li>
                                <a href="http://www.agentrez.com/" class="js_link" rel="nofollow" title="Hotels.com - Deals &amp; Discounts for Hotel Reservations from Luxury Hotels to Budget Accommodations">Đại lý lữ hành</a>
                            </li>
                            <li class="footer_last_li">
                                <a href="http://press.hotels.com/en-gb/" class="js_link" id="press_office_link" target="_blank" title="Hotels.com - Deals &amp; Discounts for Hotel Reservations from Luxury Hotels to Budget Accommodations">Trung tâm truyền thông</a>
                            </li>
                        </ul>
                        <div>
                            © 2002-2013 Hotels.com L.P. Mọi quyền được bảo lưu. – Một thương hiệu thuộc Expedia Inc.<br>
                            Hotels.com, logo Hotels.com và ’Be Smart. Book Smart.’ là các nhãn hiệu và/hoặc nhãn hiệu dịch vụ của Hotels.com L.P. – Một thương hiệu thuộc Expedia Inc.
                        </div>
                        <a href="/customer_care/pillar/welcomerewards.html">* Tìm hiểu thêm về Welcome Rewards™</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="C_datepicker multi-2 multi" style="position: absolute; top: 280.390625px; width: 34em; left: 126.5px; display: none;">
            <table>
                <tbody>
                    <tr>
                        <td class="tls"></td>
                        <td class="ths">
                            <div class="tail"></div>
                        </td>
                        <td class="trs"></td>
                    </tr>
                    <tr>
                        <td class="lvs"></td>
                        <td class="cnt">
                            <div class="main arrival">
                                <div class="group group-first">
                                    <div class="header corner-left">
                                        <a class="icon_sprite_commons prev disabled" title="Prev"><span class="icon_sprite left_arrow_button">Prev</span></a><div class="title"><span class="month">tháng mười hai</span> <span class="year">2013</span></div>
                                    </div>
                                    <table class="calendar">
                                        <thead>
                                            <tr>
                                                <th class="week-end"><span title="Chủ nhật">CN</span></th>
                                                <th><span title="Thứ hai">Th 2</span></th>
                                                <th><span title="Thứ ba">Th 3</span></th>
                                                <th><span title="Thứ tư">Th 4</span></th>
                                                <th><span title="Thứ năm">Th 5</span></th>
                                                <th><span title="Thứ sáu">Th 6</span></th>
                                                <th class="week-end"><span title="Thứ bảy">Th 7</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">1</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">2</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">3</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">4</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">5</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">6</span></td>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">7</span></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">8</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">9</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">10</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">11</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">12</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">13</span></td>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">14</span></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">15</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">16</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">17</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">18</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">19</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">20</span></td>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">21</span></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end unselectable state-disabled "><span class="state-default">22</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">23</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">24</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">25</span></td>
                                                <td class=" unselectable state-disabled "><span class="state-default">26</span></td>
                                                <td class="  today" onclick="DP_jQuery.datepicker.selectDay('#arrival_date',11,2013, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',11,2013, this);"><a onclick="return false;" class="state-default state-highlight" href="#">27</a></td>
                                                <td class=" week-end  current-day" onclick="DP_jQuery.datepicker.selectDay('#arrival_date',11,2013, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',11,2013, this);"><a onclick="return false;" class="state-default state-active" href="#">28</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end  range-day" onclick="DP_jQuery.datepicker.selectDay('#arrival_date',11,2013, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',11,2013, this);"><a onclick="return false;" class="state-default" href="#">29</a></td>
                                                <td class="  range-last-day" onclick="DP_jQuery.datepicker.selectDay('#arrival_date',11,2013, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',11,2013, this);"><a onclick="return false;" class="state-default" href="#">30</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',11,2013, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',11,2013, this);"><a onclick="return false;" class="state-default" href="#">31</a></td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="group group-last">
                                    <div class="header corner-right">
                                        <a class="icon_sprite_commons next" onclick="DP_jQuery.datepicker.adjustDate('#arrival_date', +1, 'M');" title="Next"><span class="icon_sprite right_arrow_button">Next</span></a><div class="title"><span class="month">tháng một</span> &nbsp;<span class="year">2014</span></div>
                                    </div>
                                    <table class="calendar">
                                        <thead>
                                            <tr>
                                                <th class="week-end"><span title="Chủ nhật">CN</span></th>
                                                <th><span title="Thứ hai">Th 2</span></th>
                                                <th><span title="Thứ ba">Th 3</span></th>
                                                <th><span title="Thứ tư">Th 4</span></th>
                                                <th><span title="Thứ năm">Th 5</span></th>
                                                <th><span title="Thứ sáu">Th 6</span></th>
                                                <th class="week-end"><span title="Thứ bảy">Th 7</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">1</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">2</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">3</a></td>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">4</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">5</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">6</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">7</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">8</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">9</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">10</a></td>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">11</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">12</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">13</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">14</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">15</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">16</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">17</a></td>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">18</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">19</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">20</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">21</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">22</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">23</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">24</a></td>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">25</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">26</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">27</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">28</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">29</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">30</a></td>
                                                <td class=" " onclick="DP_jQuery.datepicker.selectDay('#arrival_date',0,2014, this);return false;" onmouseover="DP_jQuery.datepicker.onHoverDay('#arrival_date',0,2014, this);"><a onclick="return false;" class="state-default" href="#">31</a></td>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" other-month unselectable state-disabled">&nbsp;</td>
                                                <td class=" week-end other-month unselectable state-disabled">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clear-both"></div>
                                <div class="msg"></div>
                            </div>
                        </td>
                        <td class="rvs"></td>
                    </tr>
                    <tr>
                        <td class="bls"></td>
                        <td class="bhs">
                            <div class="tail" style="display: none;"></div>
                        </td>
                        <td class="brs"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--[if lt IE 7]></div><![endif]-->
    <script type="text/javascript"><!--//--><![CDATA[//><!--

    window.hcom = window.hcom || {};

    window.hcom.configuration =
      { "DEFAULT_DATE_FORMAT": "dd/MM/yyyy", "LOCALIZED_DATE_FORMAT": "dd/mm/yyyy", "FIRST_DAY_OF_WEEK": 0, "HOTEL_REVIEW_SCALE_SIZE": "5", "HCOM_POS": "HCOM_VN", "DAYNAME_MONTHNAME_DATE_YEAR_FORMAT": "EEEE, 'ngày' d 'tháng' MM 'năm' yyyy", "DROP_DOWN_CALENDAR_YEAR_MONTH_LABEL_TEMPLATE": "", "DROP_DOWN_CALENDAR_DAY_LABEL_TEMPLATE": "", "CURRENCY_CODE": "VND", "MAX_ADVANCE_DAYS": "500", "SELECTORS_URL": "/selectors/HWA.76.0.4-299-357721/vi_VN/", "MOBILE_CURRENCIES_URL": "/mobile/ajax_currencies/HWA.76.0.4-299-357721/vi_VN/", "DISPLAY_DAY_TEXT_ON_SEARCH_DD": "true" };

    window.hcom.locale =
      { "url": "vi.hotels.com", "secureUrl": "ssl-vi.hotels.com", "direction": "LTR", "rules": { "GOOGLE_MAPS_API_VERSION": "3", "GOOGLE_MAPS_LANGUAGE_CODE": "en", "COUNTRIES_WITHOUT_POSTAL_CODE": "HK,IE", "REQUEST_CHANNEL_TYPE": "WEB_DESKTOP", "OMNITURE_S_ACCOUNT": "hotelsallprod", "OMNITURE_S_LNK_INT_FLTR": "javascript:,hotels.com,hoteis.com,hoteles.com,hotels.cn", "JAVASCRIPT_DEVELOPMENT": false, "OMNITURE_S_SURVEY_ACCOUNT": "hotelsallprod" }, "firstDayOfWeek": 0, "showMonthAfterYear": false, "showNumericMonth": false, "monthUnit": "", "yearUnit": "", "dateFormatSymbols": { "months": ["tháng một", "tháng hai", "tháng ba", "tháng tư", "tháng năm", "tháng sáu", "tháng bảy", "tháng tám", "tháng chín", "tháng mười", "tháng mười một", "tháng mười hai"], "shortMonths": ["thg 1", "thg 2", "thg 3", "thg 4", "thg 5", "thg 6", "thg 7", "thg 8", "thg 9", "thg 10", "thg 11", "thg 12"], "weekDays": ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"], "shortWeekdays": ["CN", "Th 2", "Th 3", "Th 4", "Th 5", "Th 6", "Th 7"] }, "dayWeekdayFormat": "d E", "language": "vi_VN", "facebookLocale": "vi_VN", "autosuggest": { "asURL": "/suggest", "srsURL": "http://lookup.hotels.com/2/suggest/v1/json", "countryURL": "/co{0}/", "regionURL": "/re{0}/", "stateURL": "/sa{0}/", "continentURL": "/cn{0}/", "destinationLandingPageUrl": "/de{0}/", "isAutoSuggestActive": true, "isHotelSearchActive": true, "activationCharLength": "3", "i18nMessages": { "categories": { "cities": "Thành phố/Khu vực", "hotels": "Khách sạn", "landmarks": "Địa danh", "airports": "Sân bay", "airports_stations": "Sân bay/Ga" }, "error": "Vui lòng nhập tên điểm đến hoặc khách sạn", "noSuggestionMatch": "Không có gợi ý nào phù hợp", "close": "đóng", "moreSuggestion": "...và thông tin khác, tiếp tục nhập để tinh chỉnh tìm kiếm", "noSuggestion": "không có gợi ý nào" } }, "common": { "expandBlockButtonLabel": "xem thêm", "tooLongStay": "Thời gian lưu trú tối đa là {0} đêm.", "numberOfNightsSingle": "1 đêm", "numberOfNightsPlural": "{0} đêm" }, "search": { "i18nMessages": { "resetToolTip": "Đặt lại bộ lọc này" }, "resolution": { "countryURL": "/co{0}/", "regionURL": "/re{0}/", "stateURL": "/sa{0}/", "continentURL": "/cn{0}/", "destinationLandingPageUrl": "/de{0}/" } }, "clipboard_path": "/static/common/41.0.3/images/flash/clipper.swf" };

    </script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--

    var commonDataBlock = { "user": { "sessionId": "fHP4DKEnNKpwDRYH6DHlGRTKB0.prod2-hwa-03", "guid": "b59091e6-2a13-4f67-989d-ccb45a7fd922", "wrStatus": "Returning Visitor", "pos": "HCOM_VN", "locale": "vi_VN", "geolocation": { "latitude": "21.03", "longitude": "105.85" }, "platformId": "Desktop" }, "page": { "pageName": "home page", "siteSection": "home page", "random10Alpha": "ejtw3tehp3", "random10Numeric": "7332918194", "currency": "VND" }, "search": {}, "booking": {}, "marketing": { "lastTouchedMarketingCode": "sem.hcom.VN.google.003.00.01.s" }, "property": {}, "event": { "eventType": "hwa" } };

    </script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--

    window.hcom = window.hcom || {};
    window.hcom.configuration = window.hcom.configuration || {};
    window.hcom.configuration.CHECK_AVAILABILITY_CUTOFF_TIME_OFFSET = 0;

    </script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--

    //--><!]]></script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--

    window.hcom.userTime = '1388104301298' * 1;
    window.hcom.serverTime = '1388125901175' * 1;
    window.hcom.locale.priceFormatSeparators = ".,";
    window.hcom.locale.isPlusNextToPrice = false;

    if (window.hcom.userTime > 0) {
        window.hcom.userTime += new Date().getTimezoneOffset() * 60000;
    } else {
        window.hcom.userTime = new Date().getTime();
    }


    window.hcom.checkInCutOffTime = window.hcom.userTime;


    window.hcom.request =
      { "METHOD": "GET" };

    </script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--


    window.hcom.locale.autosuggest.useSrsDataHomepage = true;
    window.hcom.locale.autosuggest.useSrsData = true;
    window.hcom.locale.autosuggest.srsBoostConfig = "config-boost-7";

    window.hcom.locale.search.resolution.useSrsData = false;
    window.hcom.locale.search.resolution.srsBoostConfig = "config-boost-7";


    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/guest/js/hcom-social-homepage.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/guest/js/homepage.js")"></script>


    <script src="http://a2.cdn-hotels.com/da/assets/cat/js/1.15/ejzh6d901aopralmsq8sbmk2j-xa8ecm1hb7m4n3ngchfljh70-8e4osg6l182ueoashjn6bcg80-7bba2v5p3ia3i4g6pumt63j9q-992y9uc542xs6waunzrsiuxb8-2iq7j4dt958hvageg15fu0auo-9958p2zzd61sniuyyn6u2rof5-80f4uh48bdo92mljj66t3isyo-128oa5xfbwxzu29dm7tfv6akq-e68j34la3htlobgy1dxei8jox-acr8pfu7chqtmetwn5qx3lpo9-5vbh0aljnn99tpbdghhezccyb-8wg7ldgkuv3keqaeogd6ztd4z"></script>
    <script type="text/javascript"><!--//--><![CDATA[//><!--

    $.loadModule("hcom.common.modules.prerender");

    </script>
    <script type="text/javascript" defer="defer"><!--//--><![CDATA[//><!--
    $.namespace("hcom.shared.desktop.queryform.validatorMessages",
    { "qf.validation.destination": "Vui lòng cho chúng tôi biết bạn đang tìm địa điểm, khách sạn hoặc địa danh nào", "qf.validation.dates.too_long": "Rất tiếc, chúng tôi không thể đặt kỳ lưu trú dài hơn {0} ngày", "qf.validation.dates.check_in": "Vui lòng cho chúng tôi biết ngày nhận phòng của bạn", "qf.validation.dates.check_out": "Vui lòng cho chúng tôi biết ngày trả phòng của bạn", "qf.validation.children.ages": "Tuổi của trẻ tại từng phòng?", "qf.validation.dates.checkInDatePrior": "Vui lòng nhập ngày nhận phòng trong tương lai", "qf.validation.dates.checkOutPriorToCheckin": "Ngày trả phòng của bạn trước ngày nhận phòng", "qf.validation.dates.cannot.be.the.same": "Rất tiếc, bạn phải đặt ít nhất 1 đêm", "qf.validation.dates.nodates": "Hãy nhập ngày dự tính của chuyến đi", "qf.validation.dates.checkOutDatePrior": "Hãy nhập một ngày trả phòng trong tương lai", "qf.validation.dates.dateInPast": "Ngày nhận phòng của bạn trước hôm nay", "qf.validation.dates.invalidFormat": "Vui lòng nhập một ngày hợp lệ" });
    $.formatter.extendGlobal({ "qf.date.night_label.simple": "Đêm", "qf.date.night_label.plural": "Đêm" });

    $.namespace("hcom.locale.autosuggest.pageName", "HomePage");


    $.namespace("hcom.gadgets.hotel_comparison.dockingbar",
      { "url": "", "enabled": false }
    )

    $.loadModule("hcom.homepage.social.desktop.common");

    </script>
    <div class="hcom_simple_popdiv hcom_title_tooltip" style="cursor: help;">
        <div class="arrow">
            <div class="outer"></div>
            <div class="inner"></div>
        </div>
        <div class="title"></div>
    </div>
    <div id="holding" style="display: none;"></div>
    <div id="disambiguation" class="hidden"></div>


    <script type="text/javascript"><!--//--><![CDATA[//><!--

    (function () {
        var content = { "content": "<script type=\"text/javascript\"><!--//--><![CDATA[//><!--\ns.channel = \"home\\x20page\";\n    s.currencyCode = \"VND\";\n    s.eVar4 = \"Not\\x20Signed\\x20In\\x7CReturning\\x20Visitor\\x7CNot\\x20FC\\x20Member\";\n    s.eVar13 = \"357708\";\n    s.eVar26 = \"VN\\x3A\\x3AHANOI\\x3A\";\n    s.eVar33 = \"home\\x20page\";\n    s.eVar34 = \"H84.1,H92\\x3A003.000,H230\\x3A004.001,H555\\x3A002.007,H777\\x3A002.001,H869\\x3A002.000,H872\\x3A002.000\";\n    s.eVar41 = \"VND\";\n    s.eVar43 = \"vi_VN\\x7CHCOM_VN\\x7Cvi.hotels.com\";\n    s.eVar61 = \"Desktop\";\n    s.pageName = \"home\\x20page\";\n    s.prop5 = \"357708\";\n    s.prop27 = \"b59091e6\\x2D2a13\\x2D4f67\\x2D989d\\x2Dccb45a7fd922\";\n    s.prop28 = \"0\";\n    s.prop32 = \"vi_VN\\x7CHCOM_VN\\x7Cvi.hotels.com\";\n    s.prop33 = \"home\\x20page\";\n    s.prop34 = \"76.0.4\\x2D299\\x2D357721\";\n    s.prop36 = \"Not\\x20Signed\\x20In\\x7CReturning\\x20Visitor\\x7CNot\\x20FC\\x20Member\";\n    s.prop38 = \"not\\x20signed\\x20in\";\n    s.prop39 = \"not\\x20signed\\x20in\";\n    s.prop46 = \"Desktop\";\n    s.server = \"vi.hotels.com\";\n    \n    s.t();\n    s.eVar34 = null;\n  \n//--><!]]><\/script>" };
        if (Object.getReferenceToNestedName("hcom.common.modules.prerender")) {
            hcom.common.modules.prerender.append(content);
        } else {
            document.write(content);
        }
    })();

    </script>

    <script type="text/javascript"><!--//--><![CDATA[//><!--

    (function () {
        var content = { "content": "<script type=\"text/javascript\"><!--//--><![CDATA[//><!--\n\n    var s_sv_metadata = new Object();\n    \n      s_sv_metadata[\"session_id\"] = \"fHP4DKEnNKpwDRYH6DHlGRTKB0.prod2\\x2Dhwa\\x2D03\";\n    \n      s_sv_metadata[\"guid\"] = \"b59091e6\\x2D2a13\\x2D4f67\\x2D989d\\x2Dccb45a7fd922\";\n    \n  \n//--><!]]><\/script>" };
        if (Object.getReferenceToNestedName("hcom.common.modules.prerender")) {
            hcom.common.modules.prerender.append(content);
        } else {
            document.write(content);
        }
    })();

    //--><!]]></script>

    <script type="text/javascript" src="@Url.Content("~/Content/guest/js/oo_engine_generic.js")"></script>

    <script type="text/javascript"><!--//--><![CDATA[//><!--

    var _gaq = _gaq || [];

    var googleAnalyticsPremium = {

        sendTransactions: function (transactions) {
            try {
                var transactionList, transaction, itemList, item, i, j;

                if (transactions instanceof Array) {
                    transactionList = transactions;
                } else {
                    transactionList = [transactions];
                }

                for (i = 0; i < transactionList.length; i++) {
                    transaction = transactionList[i];
                    _gaq.push(["premium._addTrans",
                               transaction.orderId, this.replaceNull(transaction.affiliation), transaction.total,
                               this.replaceNull(transaction.tax), this.replaceNull(transaction.shipping), this.replaceNull(transaction.city),
                               this.replaceNull(transaction.state), this.replaceNull(transaction.country)]);

                    if (transaction.items !== undefined) {
                        if (transaction.items instanceof Array) {
                            itemList = transaction.items;
                        } else {
                            itemList = [transaction.items];
                        }

                        for (j = 0; j < itemList.length; j++) {
                            item = itemList[j];
                            _gaq.push(["premium._addItem", transaction.orderId, item.sku, item.name,
                                       this.replaceNull(item.category), item.price, item.quantity]);
                        }
                    }

                    _gaq.push(["premium._trackTrans"]);
                }
            } catch (e) {
                if (console && console.warn) {
                    console.warn("google analytics script is unavailable: " + e);
                }
            }
        },

        sendEvents: function (events) {
            try {
                var eventList, event, i;

                if (events instanceof Array) {
                    eventList = events;
                } else {
                    eventList = [events];
                }

                for (i = 0; i < eventList.length; i++) {
                    event = eventList[i];
                    _gaq.push(["premium._trackEvent",
                               event.category, event.action,
                               this.replaceNull(event.label), this.replaceNull(event.value), this.replaceNull(event.nonInteraction)]);
                }
            } catch (e) {
                if (console && console.warn) {
                    console.warn("google analytics script is unavailable: " + e);
                }
            }
        },

        replaceNull: function (value) {
            return value === null ? undefined : value;
        }

    };

    (function () {
        try {
            var TRACKER_COOKIE_TIMEOUT = 2592000000,    // sets timeout to 30 days
                domain = document.domain.substring(document.domain.indexOf("."), document.domain.length);

            _gaq.push(["premium._setAccount", "UA-32616238-1"],

                      ["premium._setCampaignCookieTimeout", TRACKER_COOKIE_TIMEOUT],
                      ["premium._setDomainName", domain],
                      ["premium._setAllowLinker", true],
                      ["premium._set", "page", "home\x20page\x2Dvi_VN\x7CHCOM_VN"], ["premium._setCustomVar", 1, "CID", "357708", 2], ["premium._setCustomVar", 2, "User Context", "vi_VN\x7CHCOM_VN\x7Cvi.hotels.com", 2], ["premium._setCustomVar", 3, "GUID", "b59091e6\x2D2a13\x2D4f67\x2D989d\x2Dccb45a7fd922", 2], ["premium._setCustomVar", 5, "Log In Status", "Not\x20Signed\x20In", 2], ["premium._setCustomVar", 6, "Welcome Rewards Status", "Returning\x20Visitor", 2]
,
                      ["premium._trackPageview"]);
        } catch (e) {
            if (console && console.warn) {
                console.warn("google analytics script is unavailable: " + e);
            }
        }
    })();

    </script>

    <script type="text/javascript" src="http://www.google-analytics.com/ga.js" async="true"></script>


    <iframe width="1" height="1" frameborder="0" src="http://fls.doubleclick.net/activityi;src=3057895;type=homep631;cat=homep099;u1=VN;ord=61066816?"></iframe>
    <script src="@Url.Content("~/Content/guest/js/Bootstrap.js")"></script>

    <script src="http://a2.cdn-hotels.com/da/assets/cat/js/1.15/hcom.templates.modules.header.snippet.posselector-hcom.templates.modules.header.snippet.currencyselector"></script>
    <script src="//a2.cdn-hotels.com/da/currenciesandcountries/2.0-567-345457/locale/vi_VN/pos/HCOM_VN/currency/VND/format/json/callback/dio.header.loaded"></script>
</body>
</html>
