@model IEnumerable<EC08_SHBS.Models.PhieuGiaoDich>
@{
    ViewBag.Title = "bookingdetail";
    Layout = "~/Views/Shared/LayoutTrangChu/_MasterpageGuest.cshtml";
}

<div class="main_content">
    <div class="clear"></div>
    <div class="right_master">
        <div class="main_content">
            <div class="alert1">Danh sách booking</div>
            <form id="formAdmin" name="formAdmin" action="/home/huydatphong" method="post" class="form-validate">
                <div class="payment_content">
                    <div class="tienMat_content">
                        <table class="customerInfo_table" cellpadding="0" cellspacing="0" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Họ và Tên</th>
                                    <th>Địa Chỉ Email</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Phương Thức Thanh Toán</th>
                                    <th>Tên Khách Sạn</th>
                                    <th>Tổng Tiền</th>
                                    <th>Ngày Đặt Phòng</th>
                                    <th>Thanh toán</th>
                                    <th>Hủy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.idPhieuGiaoDich</th>
                                        <th>@item.NguoiDung.hoTen</th>
                                        <th>@item.NguoiDung.eMail</th>
                                        <th>@item.NguoiDung.dienThoai</th>
                                        <th>@item.ThanhToan.tenThanhToan</th>
                                        <th>
                                            @{string url = new EC08_SHBS.Models.PortalEntities().KhachSans.First(x => x.idKS.Equals(item.idKS)).URL;
                                              EC08_SHBS.WebService ws = new EC08_SHBS.WebService(url, "getThongTinKhachSan");
                                              ws.Invoke();
                                              string duLieu = ws.ResultString;
                                              if (duLieu != null)
                                              {
                                                  string duLieuReplace = duLieu.Replace("xmlns=\"http://tempuri.org/\"", "");
                                                  System.Xml.Linq.XDocument xml = System.Xml.Linq.XDocument.Parse(duLieuReplace);
                                                @xml.Descendants("TenKhachSan").Select(x => x.Value).ToArray()[0]
                                              }
                                            }
                                        </th>
                                        <th>$@item.tongTien</th>
                                        <th>@Convert.ToDateTime(@item.ngayNhanPhong).ToShortDateString()</th>
                                        <th>@Convert.ToDateTime(@DateTime.Now).ToShortDateString()</th>
                                        <th id="btnHuy">
                                            @if (Convert.ToDateTime(DateTime.Now) < Convert.ToDateTime(item.ngayNhanPhong).AddDays(-3))
                                            {
                                                <div id="@item.idKS">
                                                    <input type="submit" value="Hủy"/>
                                                    @Html.Hidden("idHuy")
                                                </div>
                                            }

                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="float: right; margin-top: 10px">
                    <input type="button" class="sBut_timVịTriKhachSan" value="Quay lại" onclick="history.go(-1)">
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $("#btnHuy div input").click(function () {
        $("#idHuy").val($(this).parent().attr('id'));
    });
</script>