@model EC08_SHBS.Models.NguoiDungInfo
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/LayoutTrangChu/_MasterpageGuest.cshtml";
}

<div class="main_content">
    <div class="clear"></div>
    <div class="right_master">
        <div class="main_content">
            <div class="alert1">Quản lý thông tin</div>
            <div class="payment_content">
                <div class="tienMat_content">
                    <div id="ctl00_component_ctl00_dvProfile" style="width: 100%">
                        <div class="register" style="width: 100%; padding-top: 10px;">
                            @using (Html.BeginForm("info", "home", FormMethod.Post, new { @onsubmit = "return kiemTraTrong();" }))
                            {
                                <table style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <fieldset>
                                                    <legend>Thông tin cá nhân</legend>
                                                    <ul>
                                                        <li>
                                                            <label>Họ tên:</label>
                                                            @Html.TextBoxFor(x => x.hoTen)
                                                        </li>
                                                        <li>
                                                            <label>Địa chỉ:</label>
                                                            @Html.TextBoxFor(x => x.diaChi)
                                                        </li>
                                                        <li>
                                                            <label>Điện thoại:</label>
                                                            @Html.TextBoxFor(x => x.dienThoai)
                                                        </li>
                                                        <li>
                                                            <label>Email:</label>
                                                            @Html.TextBoxFor(x => x.eMail)
                                                        </li>
                                                        <li>
                                                            @Html.ValidationMessageFor(x => x.hoTen)
                                                            @Html.ValidationMessageFor(x => x.diaChi)
                                                            @Html.ValidationMessageFor(x => x.dienThoai)
                                                            @Html.ValidationMessageFor(x => x.eMail)
                                                            @Html.HiddenFor(x => x.IdNguoiDung)
                                                            @Html.HiddenFor(x => x.userName)
                                                            @Html.HiddenFor(x => x.loaiND)
                                                            @Html.HiddenFor(x => x.tinhTrang)
                                                            @Html.HiddenFor(x => x.diemTong)
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                            </td>
                                            <td>
                                                <fieldset>
                                                    <legend>Đổi mật khẩu</legend>
                                                    <div style="padding-left: 10px;">
                                                        (Nếu Quý vị để trống thì mật khẩu vẫn sử dụng không thay đổi)
                                                    </div>
                                                    <div style="width: 103px; float: left">
                                                        <img src="@Url.Content("~/Content/guest/images/o-khoa.jpg")">
                                                    </div>
                                                    <div style="width: 420px; float: right; margin-right: 30px;">
                                                        <ul>
                                                            <li>
                                                                <label>Mật khẩu mới:</label>
                                                                @Html.PasswordFor(x => x.passWord)
                                                            </li>
                                                            <li>
                                                                @Html.ValidationMessageFor(x => x.passWord)
                                                            </li>
                                                            <li>
                                                                <label>Nhập lại mật khẩu:</label>
                                                                @Html.PasswordFor(x => x.passWord, new {id="passWord2"})
                                                            </li>
                                                            <li>
                                                                @Html.ValidationMessageFor(x => x.passWord)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </fieldset>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">

                                                <input type="submit" name="submit" class="butParnertuser" value="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/guest/js/kiemTraTrong.js")"></script>
