@model IEnumerable<EC08_SHBS.Models.KhachSan>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/LayoutTrangChu/_MasterpageGuest.cshtml";
}

@using EC08_SHBS;
@using System.Xml.Linq;

<div class="main_content">
    <div class="clear"></div>
    <div class="right_master">
        <div class="alert">
            Danh sách khách sạn tìm được
        </div>
        <div class="list_hotel">
            <ul>
                @if (float.Parse(Request["idGia"]) == 0)
                {
                    foreach (var item in Model)
                    {
                        WebService ws = new WebService(@item.URL, "getThongTinKhachSan");
                        ws.Invoke();
                        string duLieu = ws.ResultString;
                        if (duLieu != null)
                        {
                            string duLieuReplace = duLieu.Replace("xmlns=\"http://tempuri.org/\"", "");
                            XDocument xml = XDocument.Parse(duLieuReplace);
                    <li>
                        <!--Ảnh đại diện khách sạn-->
                        <div class="hotel_item_img">
                            <a href="@Url.Content("~/home/detail/"+ @item.idKS)">
                                <img src="@xml.Descendants("AnhDaiDien").Select(a => a.Value).ToArray()[0]">
                            </a>
                        </div>

                        <!--Thông tin khách sạn-->
                        <div class="hotel_item_info">
                            <p class="hotel_name">
                                <a href="@Url.Content("~/home/detail/"+ @item.idKS)">@xml.Descendants("TenKhachSan").Select(ks => ks.Value).ToArray()[0]</a>
                                @for (int i = 0; i < item.loaiKS; i++)
                                {
                                    <img src="@Url.Content("~/Content/guest/images/star.png")" />
                                }
                                <span class="searchHotelpromotion" style="display: block">
                                    <img src="@Url.Content("~/Content/guest/images/icon_prom.gif")">
                                </span>
                            </p>
                            <p class="hotel_address">
                                @xml.Descendants("DiaChi").Select(v => v.Value).ToArray()[0]
                            </p>
                            <p class="hotel_position" style="margin-bottom: 5px">
                                Vị trí: 
                                        <b>
                                            <span id="ctl00_component_ctl00_rptHotels_ctl00_lb_position">@xml.Descendants("DiaChi").Select(v => v.Value).ToArray()[0] </span>
                                        </b>
                            </p>
                            @xml.Descendants("MoTa").Select(v => v.Value).ToArray()[0]
                            <div class="viewMore">
                                <a href="@Url.Content("~/home/detail/"+ @item.idKS)">Xem thông tin »</a>
                            </div>
                        </div>

                        <!--Giá-->
                        <div class="hotel_item_price">
                            <p>
                                Giá từ
                            </p>
                            <p>
                                <span style="display: block">@xml.Descendants("GiaTongQuan").Select(v => v.Value).ToArray()[0]</span>
                            </p>
                            <p>
                                <span id="spViewUnit1" style="color: #808080; font-size: 12px; font-weight: normal; line-height: 0px;">USD</span>/Đêm
                            </p>
                            <p>
                                <a class="but_chiTiet" href="@Url.Content("~/home/detail/"+ @item.idKS)"></a>
                            </p>
                            <p style="display: ">
                                <span class="ensure">Đảm bảo giá thấp nhất!</span>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </li>
                        }
                    }
                }
                else
                {
                    foreach (var item in Model)
                    {
                        WebService ws = new WebService(@item.URL, "getThongTinKhachSan");
                        ws.Invoke();
                        string duLieu = ws.ResultString;
                        if (duLieu != null)
                        {
                            string duLieuReplace = duLieu.Replace("xmlns=\"http://tempuri.org/\"", "");
                            XDocument xml = XDocument.Parse(duLieuReplace);

                            float giaKH = float.Parse(xml.Descendants("GiaTongQuan").Select(x => x.Value).ToArray()[0]);

                            if (giaKH <= float.Parse(Request["idGia"]))
                            {
                    <li>
                        <!--Ảnh đại diện khách sạn-->
                        <div class="hotel_item_img">
                            <a href="@Url.Content("~/Home/detail")">
                                <img src="@xml.Descendants("AnhDaiDien").Select(a => a.Value).ToArray()[0]">
                            </a>
                        </div>

                        <!--Thông tin khách sạn-->
                        <div class="hotel_item_info">
                            <p class="hotel_name">
                                <a href="@Url.Content("~/Home/detail")">@xml.Descendants("TenKhachSan").Select(ks => ks.Value).ToArray()[0]</a>
                                <span class="searchHotelpromotion" style="display: block">
                                    <img src="@Url.Content("~/Content/guest/images/icon_prom.gif")">
                                </span>
                            </p>
                            <p class="hotel_address">
                                @xml.Descendants("DiaChi").Select(v => v.Value).ToArray()[0]
                            </p>
                            <p class="hotel_position" style="margin-bottom: 5px">
                                Vị trí: 
                                        <b>
                                            <span id="ctl00_component_ctl00_rptHotels_ctl00_lb_position">@xml.Descendants("DiaChi").Select(v => v.Value).ToArray()[0] </span>
                                        </b>
                            </p>
                            @xml.Descendants("MoTa").Select(v => v.Value).ToArray()[0]
                            <div class="viewMore">
                                <a href="@Url.Content("~/Home/detail")">Xem thông tin »</a>
                            </div>
                        </div>

                        <!--Giá-->
                        <div class="hotel_item_price">
                            <p>
                                Giá từ
                            </p>
                            <p>
                                <span style="display: block">@xml.Descendants("GiaTongQuan").Select(v => v.Value).ToArray()[0]</span>
                            </p>
                            <p>
                                <span id="spViewUnit1" style="color: #808080; font-size: 12px; font-weight: normal; line-height: 0px;">USD</span>/Đêm
                            </p>
                            <p>
                                <a class="but_chiTiet" href="@Url.Content("~/Home/detail")"></a>
                            </p>
                            <p style="display: ">
                                <span class="ensure">Đảm bảo giá thấp nhất!</span>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </li>
                            }
                        }
                    }
                }

            </ul>
        </div>
    </div>
</div>
