@model  IEnumerable<EC08_SHBS.Models.KhachSan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin/_MasterpageAdmin.cshtml";
}

@using EC08_SHBS;
@using System.Xml.Linq;

<h2>QUẢN LÝ KHÁCH SẠN</h2>
<div class="clear">
    <ul class="shortcut-buttons-set">
        <li>
            <a class="shortcut-button" href="@Url.Content("~/khachsan/create")"><span>
                <img src="@Url.Content("~/Content/admin/images/icons/paper_content_pencil_48.png")" alt="icon"><br>
                Thêm Mới </span></a></li>
    </ul>
</div>
<div class="clear"></div>
<div style=" width:900px">
    @using (Html.BeginForm("index","khachsan",FormMethod.Post))
    {
        var vung = new EC08_SHBS.Models.PortalEntities().Vungs.ToList();
        <!--City-->
        <select id="idVung" name="tenVung" style="width:400px">
            <option value="0">- - - Chọn thành phố - - - - - - - - - -</option>
            @foreach (var item in vung)
            {
                <option value="@item.idVung" style="font-size: 13px; font-weight: bold; font-style: italic;">@item.tenVung</option>
            }
        </select>
        <input class="form-submit" value="" type="submit">
    }
</div>
<div class="content-box">

    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3 style="cursor: s-resize;">Thông Tin Khách Sạn</h3>
        <div class="clear">
        </div>

    </div>
    <div class="list_hotel">
        <ul>
        </ul>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content ">
        <div class="tab-content default-tab" id="tab1" style="display: block;">
            <table>
                <thead>
                    <tr>
                        <th>Mã Khách Sạn
                        </th>
                        <th>URL
                        </th>
                        <th>Tên Vùng
                        </th>
                        <th>Loại Khách Sạn
                        </th>
                        <th>Điểm Đánh Giá
                        </th>
                        <th>Tình Trạng
                        </th>
                        <th>Tên khách sạn
                        </th>
                    </tr>
                </thead>

                @{int i = 0;}
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(i++ % 2 == 0 ? "alt-row" : "")">
                            <td>
                                @item.idKS
                            </td>
                            <td>
                                @item.URL
                            </td>
                            <td>
                                @item.idVung
                            </td>
                            <td>
                                @item.loaiKS
                            </td>
                            <td>
                                @item.diemDanhGia
                            </td>
                            <td>
                                @item.tinhTrang
                            </td>
                            <td>
                                @{WebService ws = new WebService(item.URL, "getThongTinKhachSan");
                                  ws.Invoke();
                                  string duLieu = ws.ResultString;
                                  if (duLieu != null)
                                  {
                                      string duLieuReplace = duLieu.Replace("xmlns=\"http://tempuri.org/\"", "");
                                      XDocument xml = XDocument.Parse(duLieuReplace);
                                    @xml.Descendants("TenKhachSan").Select(x => x.Value).ToArray()[0];
                                  }
                                }

                            </td>
                            <td>
                                <!-- Icons -->

                                <a href="@Url.Content("~/khachsan/delete/")@item.idKS" title="Delete">
                                    <img src="@Url.Content("~/Content/admin/images/icons/cross.png")" alt="Delete"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End .content-box-content -->

<script>
    function kiemTraVung() {
        var vung = document.getElementById("idVung");
        if (vung.value == "0") {
            alert("Chưa chọn thành phố");
            vung.focus();
            return false;
        }
    }

</script>
