@model EC08_SHBS.Models.UuDai
@{
    ViewBag.Title = "Thêm Ưu Đãi";
    Layout = "~/Views/Shared/LayoutAdmin/_MasterpageAdmin.cshtml";
}

<h2>Thêm Ưu Đãi</h2>
<div class="clear">
</div>
<!-- End .clear -->
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3 style="cursor: s-resize;">Thông Tin Ưu Đãi</h3>
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1" style="display: block;">
            @using (Html.BeginForm("create", "uudai", FormMethod.Post, new {@onsubmit="return kiemTraUuDai();" }))
            {
                @Html.ValidationSummary(true);
                <table border="0" cellpadding="0" cellspacing="0" id="id-form">
                    <tbody>
                        @*<tr>
                            <th valign="top">Mã ưu đãi: 
                            </th>
                            <td>
                                @Html.TextBoxFor(c => c.idUuDai, new { @class = "inp-form" })
                                @Html.ValidationMessageFor(c => c.idUuDai)
                            </td>
                        </tr>*@
                        <tr>
                            <th valign="top">Tên ưu đãi: 
                            </th>
                            <td>
                                @Html.TextBoxFor(c => c.tenUuDai, new { @class = "inp-form" })
                                @Html.ValidationMessageFor(c => c.tenUuDai)
                            </td>
                        </tr>
                        @*<tr>
                            <th valign="top">Tình trạng: 
                            </th>
                            <td>
                                @Html.TextBoxFor(c => c.tinhTrang, new { @class = "inp-form" })
                                @Html.ValidationMessageFor(c => c.tinhTrang)
                            </td>
                        </tr>*@
                        <tr>
                            <th>&nbsp;
                            </th>
                            <td valign="top">
                                <input type="submit" value="" class="form-submit">
                                <a href="@Url.Content("~/uudai/index")">
                                    <input type="button" value="" class="form-reset" /></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
    <!-- End .content-box-content -->
</div>
<div id="footer">
    <small>
        <!-- Remove this notice or replace it with whatever you want -->
        © Copyright 2009 Your Company | Powered by <a href="http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073">Simpla Admin</a> | <a href="#">Top</a> </small>
</div>

<script>
    function kiemTraUuDai(){
        var ten = document.getElementById("tenUuDai");
        
        if (ten.value == "") {
            alert("Ưu đãi không được bỏ trống.");
            ten.focus();
            return false;
        }
    }
</script>